* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-image: url('images/background3.jpg');
    background-size: 1600px;
    background-repeat: no-repeat;
}

.container{
    position: relative;
}

.textbox-style{
    border: transparent;
    position: absolute;
    font-size: 20px;
    font: 'Courier New';
    background-color: transparent;
}

.canvas-style{
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    border:1px solid #c3c3c3;
    background-color:white;
    cursor: auto;
}

#colorSelector{
    background-size: 48px 48px;
    background-color: transparent;
    /* background-image: url(images/palette.png); */
    border: 1px solid #c3c3c3;
    height: 48px;
    width: 48px;
}

.button{
    background-size: 48px 48px;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    height: 48px;
    width: 48px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.5;
}

#buttons{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

#uploader{
    opacity: 0;
}
